.change-password-container {
    display: flex;
    width: 1000px;
    height: 800px;
    border: 0.5px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    
}

.change-password-inside-container {
    width: 800px;
    margin-left: -80px;
}

.change-password-password {
    display: flex;
}

.change-password-password>input {
    width: 20vw;
    height: 3vh;
    margin-top: 15px;
    border-radius: 4px;
    border: 0.5px #e1e9e5 solid;
    min-width: 100px;
}

.change-password-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 310px;
    margin-top: 3vh;
}

.change-password-avatar>div {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.change-password-previous-title {
    margin-right: 25px;
    margin-left: -30px;
    font-weight: bold;
    margin-top: 20px;
}

.change-password-new-password-title {
    margin-right: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.change-password-new-password-confirm {
    margin-right: 25px;
    margin-left: -65px;
    font-weight: bold;
    margin-top: 15px;
}

.change-password-button {
    margin-left: 135px;
    margin-top: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #54c1f1;
    border: none;
}

.change-password-link-to-change-password {
    margin-left: 135px;
    margin-top: 20px;
    color: #54c1f1;
}

.resize-footer {
    margin-top: -550px;
}

@media screen and (max-width: 1000px) {
    .change-password-container {
   
        width: 98%;
        margin-top: 100px;
        min-width: 500px;
    }
    .change-password-inside-container {
        margin-left: 80px;
        width: 500px;
    }
    .change-password-password>input {
        width: 30vw;
    }
}

@media screen and (max-height: 1000px) {
    .change-password-container {
    
        
    }
  
}