.main-page-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.main-page-div {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0.0.26);
    border-radius: 10px;
    position: absolute;
    width: 350px;
    z-index: 11;
    margin-left: 150px;
    text-align: center;
}

.main-page-div>div {
    padding: 1%;
    margin-top: 5px;
}

.red {
    color: red
}