.emojiPicker-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.chat {
    display: flex;
    min-height: 850px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 0.5px solid lightgrey;
}

.my-chat-id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    padding: 5px;
    border-bottom: 0.5px solid lightgrey;
}

.my-chat-text {
    margin-top: 10px;
}

.my-chat-message-icon {
    transform: scale(2.0);
    float: right;
    margin-top: -40px;
    margin-right: 8px;
}

.my-message-message-chat-content {
    border-left: 0.5px solid lightgrey;
    width: 500px;
    height: 850px;
}

.my-chat-message-avatar {
    margin-right: 10px;
}

.my-chat-message {
    display: flex;
    align-items: center;
    padding: 10px;
}

.my-message-chat-head {
    height: 70px;
    display: flex;
    align-items: center;
    border-left: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}

.my-message-chat-head-id {
    padding: 5px;
}

.my-message-chat-head-avatar {
    margin-left: 15px;
}

.info-icon {
    margin-top: -40px !important;
    margin-right: 12px;
    float: right;
}

.my-message-chat-footer {
    border: 0.5px solid lightgrey;
    height: 50px;
    width: 470px;
    margin-left: 15px;
    border-radius: 100px;
    display: flex;
}

.my-message-chat-input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    border: none;
}

.my-message-chat-input:focus {
    outline-color: white;
}

.emoji-picker {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 18px;
}

.emoji-picker-position {
    margin-top: -35vh;
    margin-left: 15px;
}

.my-message-chat-receive {
    display: flex;
    align-items: center;
    padding: 2%;
}

.my-message-chat-receive>div {
    margin-right: 20px;
}

.my-message-chat-send {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    justify-content: end;
    padding: 2%;
}

.my-message-chat-message-text-container{
    width:100px;
    
} .my-message-chat-message {
    margin-right: 15px;
    margin-bottom: 1%;
}

.my-message-chat-container {
    height: 700px;
    overflow: auto;
    position: relative;
}

.my-message-chat-footer>input[type="file"] {
    display: none;
}

.image-picture-icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 20px;
}

.my-message-chat-image {
    width: 10vw;
    height: 15vh;
}