.my-message {
    border: 0.5px solid lightgrey;
    width: 50vw;
    min-width: 750px;
    margin: auto;
    min-height: 900px;
    margin-top: 30px;
}

.my-message-username {
    margin-left: 8px;
    color: black;
}

.my-message-id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-message-text {
    width: 250px;
    min-width: 250px;
    height: 70px;
    border: 0.5px solid lightgrey;
    display: flex;
    border-top: none;
    border-left: none;
    justify-content: center;
    align-items: center;
}

.down-arrow-icon {
    transform: scale(1.2);
    margin-left: 10px;
}

.my-message-message-icon {
    transform: scale(2.0);
    float: right;
    margin-right: -60px;
}

.my-message-message-page {
    width: 250px;
    border-right: 0.5px solid lightgrey;
    display: inline-block;
    overflow: auto;
    min-height: 830px;
}

.my-message-message {
    display: flex;
    padding: 3%;
    align-items: center;
}

.my-message-message>div {
    margin-left: 2%;
}

.my-message-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.my-message-message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.my-message-circle-icon {
    width: 110px;
    height: 110px;
    margin-left: -23px;
    margin-bottom: 12px;
}

.my-message-paper-plain {
    width: 80px;
    height: 80px;
    margin-left: -100px;
    margin-bottom: 18px;
}

.my-message-my-message-btn {
    border: none;
    background-color: #10d0ff;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-top: 20px;
}