.main-avatar-container {
    display: flex;
    align-items: center;
}

.main-image {
    width: 550px;
    display: block;
    max-height: 700px;
}

.main-title {
    width: 550px;
    align-items: center;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.main-horiz-oulined-icon {
    margin-right: 1rem;
}

.main-avatar {
    margin-right: 1rem;
    margin-left: 1rem;
}

.main {
    border: 0.5px solid lightgrey;
    width: 550px;
    margin-top: 0.1px;
}

.main-page-image-left-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -250px;
    margin-top: -220px;
    cursor: pointer;
    color: white;
}

.main-extended-page-image-left-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -450px;
    cursor: pointer;
    color: white
}

.main-page-image-right-icon {
    width: 30px;
    height: 30px;
    position: absolute;

    margin-left: 250px;
    
    cursor: pointer;
    color: white;
}

/* .main-page-image-right-icon-container{
    position:absolute;
    display: flex;
    border:1px solid white;
    width: 30px;
    height: 50%;
    border:1px solid red;
} */

/* .main-image-and-icons{
    width:100%;
    height: 100%;
    border:3px solid blue;
} */

.main-extended-page-image-right-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 450px;
    cursor: pointer;
    color: white;
    /* z-index: 120; */
}

.inactive-main-image-right-icon,
.inactive-main-page-image-left-icon {
    display: none;
}

.main-image-dot-icon {
    width: 30px;
    height: 30px;
    margin-top: -4vh;
    margin-left: -0.5vw;
}

.image-dot-container {
    display: flex;
    justify-content: center;
    
}

.main-page-icons-container {
    min-width: 150px;
}

.main-page-icons {
    margin-left: 1%;
}

.main-page-heart-icon {
    margin-left: 1%;
    color: red
}

.main-page-bookmark-icon {
    float: right;
    margin-right: 1%;
}

.main-page-info {
    margin-left: 1%;
}

.main-page-comment {
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.main-page-comment-inside {
    display: flex;
}

.see-comments {
    cursor: pointer
}

.comment-button-inactive {
    margin-right: 20px;
    color: lightblue;
}

.comment-button-active {
    color: #10d0ff;
    margin-right: 20px;
    cursor: pointer;
}

.main-page-comment>span {
    margin-left: 1%;
}