.stories {
    margin-top: 15px;
    border: 0.5px solid lightgrey;
    width: 552px;
    margin-bottom: 15px;
    font-size: 11px;
}

.stories-block {
    display: flex;
    align-items: center;
}

.stories-avatar-list {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.storeis-last {
    margin-right: 400px;
}

.stories-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 0px 10px;
}